@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


:root{
    --blue:rgb(13, 4, 65);
    --hover: rgb(148, 152, 209);
    --yel: rgb(231, 248, 153);
}

body{
    background-color: var(--hover);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

 .gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }

 .grid{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
 }

 .box{
    border: 2px solid var(--blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yel);
 }

.box:hover{
    background-color: var(--hover);
    cursor:pointer;
}

.boxText{
    font-size: 35px;
}

.info{
    margin-left: 30px;
}

.info span{
    font-size: 25px;
}

.imgBpx img{
    display: none;
}

.reset{
    background-color: var(--yel);
    border-radius: 15px;
}

.reset:hover{
    background-color: red;
    cursor:pointer;
}

#result{
    padding: 25px 25px 25px;
    font-size: 30px;
}

.turnInfo{
    margin-top: 25px;
    font-size: 30px;
}

.player{
    font-size: 30px;
}






















